language: node_js
node_js:
  - '4.7.0'
install:
  - npm install -g firebase-tools webpack
script:
  - sh ./run.sh prod
after_success:
  - firebase deploy --token $FIREBASE_TOKEN
branches:
  only:
      - master
